* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: #162a3c;
	font-family: "Space Mono", monospace;
	color: #fdffff;
}
.title-div {
	padding-top: 80px;
	padding-bottom: 64px;
	font-weight: 700;
}
.title {
	text-align: center;
	font-size: 5rem;
}

.clock-div {
	display: flex;
	justify-content: center;
	font-size: 3.5rem;
}
.hour-div,
.min-div,
.sec-div,
.am-pm-div {
	height: 120px;
	width: 10%;
	text-align: center;
	border-radius: 12px;
	padding-top: 20px;
	font-weight: 700;
}
.dot-span {
	padding-top: 20px;
}
.hour-div {
	background: rgb(236, 81, 34);
	box-shadow: 0 10px 30px rgba(236, 81, 34, 0.19);
}
.min-div {
	background: rgb(55, 114, 255);
	box-shadow: 0 10px 30px rgba(55, 114, 255, 0.19);
}
.sec-div {
	background: rgb(46, 196, 182);
	box-shadow: 0 10px 30px rgba(46, 196, 182, 0.19);
}
.am-pm-div {
	background: rgb(117, 139, 253);
	box-shadow: 0 10px 30px rgba(117, 139, 253, 0.19);
	margin-left: 24px;
}
.date-div {
	text-align: center;
	margin: 40px auto;
	padding: 6px;
	width: 30%;
	border-radius: 4px;
	background: #70ae6e;
	box-shadow: 0 5px 15px rgba(40, 52, 63, 0.19);
}
footer {
	margin-top: 120px;
}
.footer-para {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.title {
		font-size: 2rem;
	}
	.clock-div {
		font-size: 1.5rem;
	}

	.hour-div,
	.min-div,
	.sec-div,
	.am-pm-div {
		height: 80px;
		width: 12%;
	}
}
